<!DOCTYPE HTML>
<html>
<head>
<title>瑞声科技(02018)首页概览_港股行情_同花顺金融网</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7;IE=9"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<meta name="keywords" content="瑞声科技(02018)港股点评,瑞声科技(02018)港股查询,瑞声科技(02018)港股行情,瑞声科技(02018)港股资讯,瑞声科技(02018)港股数据,瑞声科技(02018)港股实时行情">
<meta name="description" content="提供瑞声科技(02018)实时行情数据；汇总瑞声科技(02018)基本资料及重大新闻、研究报告及行业资讯，解读瑞声科技(02018)主力资金动向、财务数据，为投资瑞声科技(02018)提供参考决策">
<meta name="reboot" content="all">
<link rel="stylesheet" href="http://s.thsi.cn/combo?css/stockpage/&new/common.20130220.css" type="text/css">
<link rel="stylesheet" href="http://s.thsi.cn/combo?css/stockpage/&hk/f10_v1.min.20140701.css&hk/chart_v1.min.20191205.css" type="text/css">
<link rel="stylesheet" href="http://s.thsi.cn/combo?css/stockpage/&new/common.20130204.css&new/flot_home.20130204.min.css&new/home.20130220.css&new/KeyWizard.20130315.css!20130412" type="text/css">
<link rel="stylesheet" href="http://s.thsi.cn/combo?css/navigation/nav_v2.min.css&css/stockpage/hk/add.min.20140826.css" type="text/css">
<link rel="stylesheet" href="http://s.thsi.cn/css/article/v7/sub/tyGuide.min.css" type="text/css">
<link rel="stylesheet" href="http://s.thsi.cn/css/hks/v4/hkFix.min.css" type="text/css">
<link rel="icon" href="http://stockpage.10jqka.com.cn/images/favicon.ico" mce_href="/images/favicon.ico" type="”image/x-icon”">

<style>
	.ad04 span a  {
		font-size: 12px;
		color:red;
	}
</style>

<script type="text/javascript" src="//s.thsi.cn/js/chameleon/chameleon.1.7.min.1753572.js"></script> <script type="text/javascript" src="//s.thsi.cn/cd/ths-frontend-common-lib-container/v1.3.18/common/vue/2.7.14.min.js"></script>
<script type="text/javascript" src="//s.thsi.cn/cd/mobileweb-eq-ths-mobile-components-front-container/mobileweb_AdvertCommon@1.0.3.js"></script>
<script>
var waplink = 'https://m.10jqka.com.cn/stockpage/hk_HK2018/';

document.domain="10jqka.com.cn";
var protocol = window.location.protocol;
if (protocol == "http:") {
    window.location.href = window.location.href.replace("http", "https");
}
var JUMP={
	"hash":(!window.location.hash)?"":window.location.hash,
	"agent":navigator.userAgent,
	"to_mobile":function() {
		if ((this.agent.indexOf('Android') != -1 ||this.agent.indexOf('Mobile') != -1) && this.hash != '#pc') {
		    window.location.href = waplink;
		}
	}
};
JUMP.to_mobile();

</script>
<style>

.self_select{
	display: none !important;
}

</style></head>
<body class="hk">
<div class="hk-header log-block" logid="hks_nav">
  <div class="headTop" style="position: relative; height: 38px">
    <div class="content_wrap  content_head" style="width: 960px">
      <div class="fl">
        <a href="//www.10jqka.com.cn/" target="_blank" ta_fid="index" class="fl">
          <img src="//i.thsi.cn/images/hks/v3/logo-hk.png" class="mt_5"></img>
        </a>
        <a href="//stock.10jqka.com.cn/" target="_blank" ta_fid="stock">股票</a>
        <a href="//news.10jqka.com.cn/" target="_blank" ta_fid="news">财经</a>
        <a href="//master.10jqka.com.cn/" target="_blank" ta_fid="master">名家</a>
        <a href="//yuanchuang.10jqka.com.cn/" target="_blank" ta_fid="yuanchuang">原创</a>
        <a href="//stockpage.10jqka.com.cn/" target="_blank" ta_fid="gegu">个股</a>
        <a href="//q.10jqka.com.cn/" target="_blank" ta_fid="q">行情</a>
        <a href="//data.10jqka.com.cn/" target="_blank" ta_fid="data">数据</a>
        <a href="//t.10jqka.com.cn/" target="_blank" ta_fid="sns">圈子</a>
        <a href="//www.liejin99.com/#refCountId=R_5795d4d5_59" target="_blank" ta_fid="liejin">猎金</a>
        <a href="//fund.10jqka.com.cn/" target="_blank" ta_fid="fund">基金</a>
      </div>
      <div class="fr login_part "><a href="javascript:;" class="fastguide fr" ta_fid="kuaijie">快捷导航<i class="arr">&nbsp;</i></a>
        <div class="unlogin_p unloginbox">
          <a class="login callloginplugin" href="https://upass.10jqka.com.cn/login?redir=HTTP_REFERER" target="_blank" ta_fid="denglu">
            登录
          </a>
          <a class="register" href="https://upass.10jqka.com.cn/register" target="_blank" ta_fid="zhuce">注册</a>
        </div>
        <div class="login_p loginedbox hide">
          <a id="J_username"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="guideDown" style="display:none;">
    <div class="content_wrap content_l">
      <table>
        <tbody>
          <tr>
            <td>
              <ul>
                <li class="title">
                  <a href="//stock.10jqka.com.cn/" target="_blank">股票</a>
                </li>
                <li>
                  <a href="//stock.10jqka.com.cn/bidu/" target="_blank">每日必读</a>
                </li>
                <li>
                  <a href="//stock.10jqka.com.cn/newstock/" target="_blank">新股频道</a>
                </li>
                <li>
                  <a href="//stockpage.10jqka.com.cn/" target="_blank">个股</a>
                </li>
                <li>
                  <a href="//stock.10jqka.com.cn/thsgd/" target="_blank">滚动新闻</a>
                </li>
                <li>
                  <a href="//yuanchuang.10jqka.com.cn/" target="_blank">同花顺原创</a>
                </li>
                <li>
                  <a href="//futures.10jqka.com.cn/" target="_blank">股指期货</a>
                </li>
                <li>
                  <a href="//stock.10jqka.com.cn/chuangye/" target="_blank">创业板</a>
                </li>
                <li>
                  <a href="//stock.10jqka.com.cn/hks/" target="_blank">港股频道</a>
                </li>
                <li>
                  <a href="//stock.10jqka.com.cn/usstock/" target="_blank">港股频道</a>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li class="title">
                  <a href="//news.10jqka.com.cn/" target="_blank">财经</a>
                </li>
                <li>
                  <a href="//news.10jqka.com.cn/yaowen/" target="_blank">财经要闻</a>
                </li>
                <li>
                  <a href="//news.10jqka.com.cn/hudong/" target="_blank">互动平台</a>
                </li>
                <li>
                  <a href="//news.10jqka.com.cn/region_list/" target="_blank">国内经济</a>
                </li>
                <li>
                  <a href="//news.10jqka.com.cn/guojicj_list/" target="_blank">国际经济</a>
                </li>
                <li>
                  <a href="//news.10jqka.com.cn/cjzx_list/" target="_blank">宏观经济</a>
                </li>
                <li>
                  <a href="//news.10jqka.com.cn/bigdata.shtml" target="_blank">每日专题</a>
                </li>
                <li>
                  <a href="//news.10jqka.com.cn/cjrw_list/" target="_blank">财经人物</a>
                </li>
                <li>
                  <a href="//news.10jqka.com.cn/cjkx_list/" target="_blank">产经新闻</a>
                </li>
                <li>
                  <a href="//news.10jqka.com.cn/live.shtml" target="_blank">大事件直播</a>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li class="title">
                  <a href="//master.10jqka.com.cn/" target="_blank">名家</a>
                </li>
                <li>
                  <a href="//master.10jqka.com.cn/master_list.shtml" target="_blank">名家一览</a>
                </li>
                <li>
                  <a href="//master.10jqka.com.cn/mjdpcl_list/" target="_blank">大盘策略</a>
                </li>
                <li>
                  <a href="//master.10jqka.com.cn/mjggrp_list/" target="_blank">个股热评</a>
                </li>
                <li>
                  <a href="//master.10jqka.com.cn/mxhytc_list/" target="_blank">行业题材</a>
                </li>
                <li>
                  <a href="//master.10jqka.com.cn/zmt_list/" target="_blank">自媒体综合</a>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li class="title">
                  <a href="//xinsanban.10jqka.com.cn/" target="_blank">精华频道</a>
                </li>
                <li>
                  <a href="//stock.10jqka.com.cn/market.shtml" target="_blank">市场</a>
                </li>
                <li>
                  <a href="//field.10jqka.com.cn/" target="_blank">行业</a>
                </li>
                <li>
                  <a href="//invest.10jqka.com.cn/" target="_blank">理财</a>
                </li>
                <li>
                  <a href="//fe.10jqka.com.cn/" target="_blank">外汇</a>
                </li>
                <li>
                  <a href="//focus.10jqka.com.cn/" target="_blank">专题</a>
                </li>
                <li>
                  <a href="//vis.10jqka.com.cn/free/ybzx/index/stockCode/1A0001" target="_blank">研报</a>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li class="title">
                  <a href="//q.10jqka.com.cn/" target="_blank">行情中心</a>
                </li>
                <li>
                  <a href="//q.10jqka.com.cn/" target="_blank">沪深市场</a>
                </li>
                <li>
                  <a href="//q.10jqka.com.cn/hk/" target="_blank">香港市场</a>
                </li>
                <li>
                  <a href="//q.10jqka.com.cn/usa/" target="_blank">美国市场</a>
                </li>
                <li>
                  <a href="//q.10jqka.com.cn/global/" target="_blank">全球股市</a>
                </li>
                <li>
                  <a href="//q.10jqka.com.cn/gn/" target="_blank">概念板块</a>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li class="title">
                  <a href="//data.10jqka.com.cn/" target="_blank">数据中心</a>
                </li>
                <li>
                  <a href="//data.10jqka.com.cn/financial/yjyg/" target="_blank">业绩预告</a>
                </li>
                <li>
                  <a href="//data.10jqka.com.cn/ipo/xgsh/" target="_blank">新股上会</a>
                </li>
                <li>
                  <a href="//data.10jqka.com.cn/funds/ggzjl/" target="_blank">资金流向</a>
                </li>
                <li>
                  <a href="//data.10jqka.com.cn/market/longhu/" target="_blank">龙虎榜</a>
                </li>
                <li>
                  <a href="//data.10jqka.com.cn/financial/sgpx/" target="_blank">高送转</a>
                </li>
                <li>
                  <a href="//data.10jqka.com.cn/market/dzjy/" target="_blank">大宗交易</a>
                </li>
                <li>
                  <a href="//data.10jqka.com.cn/market/rzrq/" target="_blank">融资融券</a>
                </li>
                <li>
                  <a href="//data.10jqka.com.cn/market/ggsd/" target="_blank">公告速递</a>
                </li>
                <li>
                  <a href="//data.10jqka.com.cn/market/ggsd/ggtype/2/#refCountId=www_52201297_5095" target="_blank">今日利好公告</a>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li class="title">
                  <span>投资工具</span>
                </li>
                <li>
                  <a href="//stock.10jqka.com.cn/zaopan/" target="_blank">早盘必读</a>
                </li>
                <li>
                  <a href="//yuanchuang.10jqka.com.cn/qingbao/" target="_blank">机会情报</a>
                </li>
                <li>
                  <a href="//stock.10jqka.com.cn/fincalendar.shtml" target="_blank">投资日历</a>
                </li>
                <li>
                  <a href="//yuanchuang.10jqka.com.cn/zhangting/" target="_blank">异动观察</a>
                </li>
                <li>
                  <a href="//stock.10jqka.com.cn/fupan/" target="_blank">每日复盘</a>
                </li>
                <li>
                  <a href="//stock.10jqka.com.cn/wenduji/" target="_blank">股市温度计</a>
                </li>
                <li>
                  <a href="//news.10jqka.com.cn/realtimenews.html" target="_blank">7X24小时</a>
                </li>
                <li>
                  <a href="//stock.10jqka.com.cn/bktt_list/" target="_blank">四大报精华</a>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li class="title">
                  <span>同花顺出品</span>
                </li>
                <li>
                  <a href="//fund.10jqka.com.cn/" target="_blank">基金</a>
                </li>
                <li>
                  <a href="//t.10jqka.com.cn/" target="_blank">同花顺圈子</a>
                </li>
                <li>
                  <a href="//www.liejin99.com/" target="_blank">猎金</a>
                </li>
                <li>
                  <a href="//www.iwencai.com/" target="_blank">i问财智能选股</a>
                </li>
                <li>
                  <a href="//www.iwencai.com/school" target="_blank">股民学校</a>
                </li>
                <li>
                  <a href="//moni.10jqka.com.cn/" target="_blank">模拟炒股</a>
                </li>
              </ul>
            </td>
            <td>
              <ul class="bd_none">
                <li class="title">
                  <a href="//download.10jqka.com.cn/" target="_blank">软件下载</a>
                </li>
                <li>
                  <a href="//activity.ths123.com/html/free/150324/" target="_blank">同花顺免费版</a>
                </li>
                <li>
                  <a href="//product.ths123.com/dzl/index.html" target="_blank">大战略</a>
                </li>
                <li>
                  <a href="//product.ths123.com/cfxf/index.html" target="_blank">财富先锋</a>
                </li>
                <li>
                  <a href="//product.10jqka.com.cn/l2/index.html" target="_blank">level-2</a>
                </li>
                <li>
                  <a href="//www.10jqka.com.cn/hkhome/" target="_blank">实时港股</a>
                </li>
                <li>
                  <a href="//www.10jqka.com.cn/Futures/" target="_blank">股指期货</a>
                </li>
                <li>
                  <a href="//product.10jqka.com.cn/jgjy/index.html" target="_blank">智能交易</a>
                </li>
                <li>
                  <a href="//activity.ths123.com/html/xb/160809/index.html" target="_blank">全新体验版</a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="//www.10jqka.com.cn/sitemap_index.shtml" target="_blank" class="fr map" ta_fid="kuaijie_map">查看网站地图 &gt;</a>
    </div>
    <a class="closeBtn" ta_fid="kuaijie_close">&nbsp;</a>
  </div>
</div><script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<script type="text/javascript">BAIDU_CLB_preloadSlots("967147","953199","950932","950924","950915","950914","950913","950907","950906","950905","950904","950898","950900","950902","978799");</script>
<!--增加广告 2014-07-23 Stella-->
<div id="hk_ad01" class="ad01" style="height:unset">
   <advert-common :adkey="adkey" :userid="userid" :app-info="appInfo" :is-prod="isProd"></advert-common>
</div>
<!--增加广告 End-->
<link href=" http://s.thsi.cn/cb?/css/navigation/;nav.min.css;nav_blue.min.css&201207061406" rel="stylesheet" type="text/css" />

<!--增加广告 2014-07-23 Stella-->
<div id="hk_ad02" class="ad02 clearfix" style="height:unset">
	<ul>
    <li class="ad02-01" style="height:unset">
	   <advert-common :adkey="adkey1" :userid="userid" :app-info="appInfo" :is-prod="isProd"></advert-common>
	</li>
    <li class="ad02-02" style="height:unset">
	   <advert-common :adkey="adkey2" :userid="userid" :app-info="appInfo" :is-prod="isProd"></advert-common>
	</li>
	<li class="ad02-03" style="height:unset">
	   <advert-common :adkey="adkey3" :userid="userid" :app-info="appInfo" :is-prod="isProd"></advert-common>
	</li>
	</ul>
</div>
<!--增加广告 End-->
<div class="header w960" id="hd">
	<div class="header_search">
		<div class="logo"><a href="http://www.10jqka.com.cn" class="site_logo"> <img height="29" width="115" alt="同花顺" title="同花顺" src="http://i.thsi.cn/images/stockpage/logo_ths_change.png" /></a> <a href="http://stockpage.10jqka.com.cn" class="sub_logo" title="港股">港股</a></div>
		<div class="search_box">
			<input autocomplete="off" type="text" value="输入股票/港股代码、简称或关键字" class="search_input" id="search_input" onfocus="(this.value=='输入股票/港股代码、简称或关键字')&&(this.value = '')" onblur="!(this.value) && (this.value='输入股票/港股代码、简称或关键字');" />
			<input type="submit" value="搜索" class="search_btn" />
		</div>
		<!--增加广告 2014-07-23 Stella-->
        <div class="ad03"><script type="text/javascript">BAIDU_CLB_fillSlot("950904");</script></div>
        <!--增加广告 End-->
	</div>
</div><div class="line"></div>
<div class="interface">
	<dl class="dl_first interface_0">
		<dt><a href="http://data.10jqka.com.cn/#refCountId=db_509381c1_860" target="_blank">数据中心</a></dt>
		<dd><a href="http://data.10jqka.com.cn/market/longhu/#refCountId=db_50741cb9_533,db_509381c1_860" target="_blank">龙虎榜</a></dd>
		<dd><a href="http://data.10jqka.com.cn/funds/ddzz/#refCountId=db_50741cd6_397,db_509381c1_860" target="_blank">大单追踪</a></dd>
		<dd><a href="http://data.10jqka.com.cn/funds/#refCountId=db_50741e4c_302,db_509381c1_860" target="_blank">资金流向</a></dd>
		<dd><a href="http://data.10jqka.com.cn/financial/yjyg/#refCountId=db_50741ea3_58,db_509381c1_860" target="_blank">业绩预告</a></dd>
		<dd><a href="http://data.10jqka.com.cn/ipo/xgsgyzq/#refCountId=db_50741b4e_792,db_509381c1_860" target="_blank">新股申购</a></dd>
	</dl>
	<dl class="interface_0">
		<dt><a href="http://q.10jqka.com.cn/#refCountId=db_509381c1_860" target="_blank">行情中心</a></dt>
		<dd><a href="http://q.10jqka.com.cn/#refCountId=db_5093800d_645,db_509381c1_860" target="_blank">沪深市场</a></dd>
		<dd><a href="http://q.10jqka.com.cn/hk/#refCountId=db_5093802b_16,db_509381c1_860" target="_blank">香港市场</a></dd>
		<dd><a href="http://q.10jqka.com.cn/usa/#refCountId=db_5093808e_362,db_509381c1_860" target="_blank">美国市场</a></dd>
		<dd><a href="http://q.10jqka.com.cn/global/#refCountId=db_509380b1_257,db_509381c1_860" target="_blank">全球市场</a></dd>
		<dd><a href="http://q.10jqka.com.cn/thshy/#refCountId=db_509380cb_979,db_509381c1_860" target="_blank">行业风云</a></dd>
	</dl>
	<!-- 全球市场开始 -->
	<dl class="interface_1">
		<dt>
			<a href="http://q.10jqka.com.cn/qqsc/#refCountId=db_509381c1_860" target="_blank">全球市场</a>
		</dt>
	</dl>
	<div class="sub_interface_1">
		<span class="options_btn">
			<a class="options_up" href="javascript:void(0);">向上</a>
			<a class="options_down" href="javascript:void(0);">向下</a>
		</span>	
		<ul>
			<li><a class="c_fall" href="javascript:void(0);"><em>--</em></a></li>
			<li><a class="c_fall" href="javascript:void(0);"><em>--</em></a></li>
		</ul>
	</div>
</div>

<div class="m_header">
	<h1 class="m_logo fl">
		<a href="/HK2018/">
			<strong >瑞声科技</strong>HK2018 
		</a>
	</h1>
	<div class="new_detail fl" style="height:108px">
		<div class="plus_price fl" id="quote_header">
			<span class="price tc">--</span>
			<div class="price_details">
				<span class="plus_rate">--</span>
				<span class="price_plus">--</span>
			</div>
		</div>
		<div class="fresh fl" style="visibility: hidden"><a href="javascript:void(0);" id="refreshAllTime" class="freshBtn"></a></div>
		<ul class="new_trading fl">
			<li>
				<span class="kp">今开：<strong class="minus">--</strong></span> 
				<span class="zs">昨收：<strong class="plus">--</strong></span>
				<span class="trading_w contract_amount">成交额：<strong>--</strong></span> 
				<span class="hs">换手：<strong>--</strong></span>
			</li>
			<li>
				<span class="zg">最高：<strong>--</strong></span>
				<span class="zd">最低：<strong>--</strong></span>
				<span class="trading_w trading_volume">成交量：<strong>--</strong></span> 
				<span class="zf">振幅：<strong>--</strong></span>
			</li>
		</ul>
		<!--增加广告 2014-07-23 Stella-->
		<div id="hk_ad04"  class="ad04 fr" >
        	<span>
			  <advert-common :adkey="adkey1" :userid="userid" :app-info="appInfo" :is-prod="isProd" :ad-type="adType"></advert-common>
			</span>
        	<span>
			  <advert-common :adkey="adkey2" :userid="userid" :app-info="appInfo" :is-prod="isProd" :ad-type="adType"></advert-common>
			</span>
        </div>
		<!--增加广告 End-->
		<ul class="detail_list cb fl">
			<li class="industry">所属行业：
				<a href="javascript:void(0);">工业 </a>
				<strong></strong>
			</li>
			<li class="zsz">总市值：<strong>--</strong></li>
			<li class="ltsz">流通市值：<strong>--</strong></li>
			<li class="syl">市盈率(动)：<strong>--</strong></li>
			<li class="sjl">市净率：<strong>--</strong></li>
		</ul>
		<div class="fr add_self_btn">
			<a taid="d_00001" class="self_select zxg_1" href="javascript:void(0);">加入自选股</a>
		</div>
	</div>
</div><div class="menu">
<div class="top_menu">
	<h2 class="nav_list cb">
				<a class="stat nav_current" stat="index" href="/HK2018/">首页概览</a>
				<a class="stat" stat="company" href="/HK2018/company/">公司概况</a>
				<a class="stat" stat="equity" href="/HK2018/equity/">股本结构</a>
				<a class="stat" stat="business" href="/HK2018/business/">业务展望</a>
				<a class="stat" stat="bonus" href="/HK2018/bonus/">分红派息</a>
				<a class="stat" stat="manager" href="/HK2018/manager/">高管介绍</a>
				<a class="stat" stat="news" href="/HK2018/news/">公司新闻</a>
				<a class="stat" stat="finance" href="/HK2018/finance/">财务分析</a>
				<a class="stat" stat="holder" href="/HK2018/holder/">股东持股</a>
				<a class="stat" stat="operate" href="/HK2018/operate/">经营分析</a>
				<a class="stat" stat="warrant" href="/HK2018/warrant/">关联权证</a>
				<a class="stat" stat="rating" href="/HK2018/rating/">投资评级</a>
			</h2>
		<ul class="sub_list" stat="index" style="">
				<li class="sl_first">
			<a href="/HK2018/#quote" class="turnto" name="quote">行情走势</a>
		</li>                                   			
				<li>
			<a href="/HK2018/#basic" class="turnto" name="basic">基本资料</a>
		</li>                                   			
				<li>
			<a href="/HK2018/#news" class="turnto" name="news">新闻公告</a>
		</li>                                   			
				<li>
			<a href="/HK2018/#warrant" class="turnto" name="warrant">涡轮/牛熊证</a>
		</li>                                   			
				<li>
			<a href="/HK2018/#rating" class="turnto" name="rating">机构评级</a>
		</li>                                   			
				<li>
			<a href="/HK2018/#finance" class="turnto" name="finance">财务分析</a>
		</li>                                   			
			</ul>
		<ul class="sub_list" stat="company" style="display:none;">
				<li class="sl_first">
			<a href="/HK2018/company/#basic" class="turnto" name="basic">基本情况</a>
		</li>                                   			
			</ul>
		<ul class="sub_list" stat="equity" style="display:none;">
				<li class="sl_first">
			<a href="/HK2018/equity/#capit" class="turnto" name="capit">股本结构</a>
		</li>                                   			
				<li>
			<a href="/HK2018/equity/#change" class="turnto" name="change">股本变化情况</a>
		</li>                                   			
				<li>
			<a href="/HK2018/equity/#merge" class="turnto" name="merge">合并拆细</a>
		</li>                                   			
				<li>
			<a href="/HK2018/equity/#purchase" class="turnto" name="purchase">股份回购</a>
		</li>                                   			
			</ul>
		<ul class="sub_list" stat="business" style="display:none;">
				<li class="sl_first">
			<a href="/HK2018/business/#result" class="turnto" name="result">业绩回顾</a>
		</li>                                   			
			</ul>
		<ul class="sub_list" stat="bonus" style="display:none;">
				<li class="sl_first">
			<a href="/HK2018/bonus/#bonus" class="turnto" name="bonus">分红派息</a>
		</li>                                   			
				<li>
			<a href="/HK2018/bonus/#offer" class="turnto" name="offer">供股及公开招股</a>
		</li>                                   			
			</ul>
		<ul class="sub_list" stat="manager" style="display:none;">
				<li class="sl_first">
			<a href="/HK2018/manager/#introduce" class="turnto" name="introduce">高管简介</a>
		</li>                                   			
			</ul>
		<ul class="sub_list" stat="news" style="display:none;">
				<li class="sl_first">
			<a href="/HK2018/news/#notice" class="turnto" name="notice">公告列表</a>
		</li>                                   			
				<li>
			<a href="/HK2018/news/#mine" class="turnto" name="mine">热点新闻列表</a>
		</li>                                   			
			</ul>
		<ul class="sub_list" stat="finance" style="display:none;">
				<li class="sl_first">
			<a href="/HK2018/finance/#index" class="turnto" name="index">财务指标</a>
		</li>                                   			
			</ul>
		<ul class="sub_list" stat="holder" style="display:none;">
				<li class="sl_first">
			<a href="/HK2018/holder/#main" class="turnto" name="main">主要股东</a>
		</li>                                   			
				<li>
			<a href="/HK2018/holder/#change" class="turnto" name="change">持股变动</a>
		</li>                                   			
			</ul>
		<ul class="sub_list" stat="operate" style="display:none;">
				<li class="sl_first">
			<a href="/HK2018/operate/#product" class="turnto" name="product">经营范围</a>
		</li>                                   			
				<li>
			<a href="/HK2018/operate/#income" class="turnto" name="income">营业收入构成</a>
		</li>                                   			
			</ul>
		<ul class="sub_list" stat="warrant" style="display:none;">
				<li class="sl_first">
			<a href="/HK2018/warrant/#warrant" class="turnto" name="warrant">窝轮</a>
		</li>                                   			
				<li>
			<a href="/HK2018/warrant/#cowbear" class="turnto" name="cowbear">牛熊证</a>
		</li>                                   			
			</ul>
		<ul class="sub_list" stat="rating" style="display:none;">
				<li class="sl_first">
			<a href="/HK2018/rating/#rating" class="turnto" name="rating">投资评级</a>
		</li>                                   			
			</ul>
	</div>
</div><div class="m_content">
<style>
.m_table_0 td,.m_table_0 th{padding:0 !important;white-space:nowrap;}
</style>
<!-- 行情图左侧 -->
<div class="m_cont_0">
	<ul class="m_title_0 m_title_1 tit">
		<li id="newsleft_fieldcode" class="tab_current">
			<a href="javascript:void(0);" class="related_industry"> 行业相关 </a>
		</li>
		<li id="newsleft_selfstock" stat="zxg_2" style="display:none" class="optional_share tab_last stat">
			<a href="javascript:void(0);">我的自选股 </a>
		</li>
	</ul>
	<div class="sub_cont_0">
		<table id="newsleft_fieldcode_table" class="ri_table m_table_0">
			<thead>
			<tr>
				<th>股票名称</th>
				<th>最新价</th>
				<th>涨跌幅</th>
			</tr>
			</thead>
			<tbody id="index_field_tbody">
			<script id="index_field_tpl" type="text/html">
			{{if fieldlist}}
				{{each fieldlist as value i}}
				<tr{{if i%2 != 0}} class="even"{{/if}}>
					<td>
						<a href="/{{value.dm}}/">{{value.mc}}</a>
					</td>
					<td {{if value.dir == 'up'}}class="plus"{{else if value.dir == 'down'}}class="minus"{{/if}}>{{value.zxj}}</td>
					<td {{if value.dir == 'up'}}class="plus"{{else if value.dir == 'down'}}class="minus"{{/if}}>{{value.zdf ? value.zdf + '%' : '--'}}</td>
				</tr>
				{{/each}}
			{{else}}
			暂无数据
			{{/if}}
			</script>
			</tbody>
		</table>
		<div stat="wdzxg" id="newsleft_selfstock_table" class="my_share hidden stat">
            <div class="my_share stat" id="newsleft_selfstock_table" stat="wdzxg">
                <p class="login_tip"><a style="color:blue" href="https://upass.10jqka.com.cn/login?redir=HTTP_REFERER">暂未登录，请先登录</a></p>
            </div>
		</div>
	</div>
	<!--增加广告 2014-08-01 Stella-->
	 <div id="hk_ad05" class="ad05" style="height:unset">
	   <advert-common :adkey="adkey" :userid="userid" :app-info="appInfo" :is-prod="isProd"></advert-common>
	 </div>
	<!--增加广告 End-->
</div>
<!-- 行情图 -->
<div class="m_cont_2 fl" id="hqzs">
			<div class="main_cont_0">
				<!--增加广告 2014-07-23 Stella-->
				<span class="adxxdl ad_x1"><script type="text/javascript">BAIDU_CLB_fillSlot("950905");</script></span>
				<span class="adxxdl ad_x2"><script type="text/javascript">BAIDU_CLB_fillSlot("967147");</script></span>
				<!--增加广告 End-->
				<iframe src="../HQ_v4.html#hk_HK2018" width="580" height="565" marginheight="0" marginwidth="0" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
<!-- 行情图右侧 -->
<div id="quote" class="m_cont_1">
    <div class="sub_cont_1 fl tip">
        <p>温馨提示:</p>
        <p>实时港股-免费版，只提供基本市场信息作参考用途，投资者应考虑是否需要更详细的市场信息以协助投资决策！</p>
        <div class="tipBtn-wrapper"><a class="tipBtn" target="_blank" href="//www.10jqka.com.cn/hkhome/gg_db.html">进入官网</a> </div>
        <p>免费试用，申请热线：95105885</p>
    </div>
	<!--增加广告 2014-07-23 Stella-->
	<div class="ad09"><script type="text/javascript">BAIDU_CLB_fillSlot("950913");</script></div>
	<!--增加广告 End-->
	<div stat="tjnr" class="sub_cont_3">
		<h2 class="m_title_4">推荐内容</h2>
		<ul class="aside_nav">
			<li stat="buttor_fundflow" class="mt_none stat">
				<span class="aside_nav_0">
					<a href="/HK2018/company/">公司资料</a>
				</span>
			</li>
			<li stat="buttor_finance" class="mt_none stat">
				<span class="aside_nav_1">
					<a href="/HK2018/finance/">财务分析</a>
				</span>
			</li>
			<li stat="buttor_doctor" class="stat">
				<span class="aside_nav_2">
					<a href="/HK2018/equity/">股本结构</a>
				</span>
			</li>
			<li stat="buttor_research" class="stat">
				<span class="aside_nav_3">
					<a href="/HK2018/holder/">持股变动</a>
				</span>
			</li>
			<li stat="buttor_mainanalyse" class="stat">
				<span class="aside_nav_4">
					<a href="/HK2018/warrant/">关联权证</a>
				</span>
			</li>
			<li stat="buttor_shareholder" class="stat">
				<span class="aside_nav_5">
					<a href="/HK2018/rating/">机构评级</a>
				</span>
			</li>
			<li stat="buttor_mainanalyse" class="stat">
				<span class="aside_nav_6">
					<a href="/HK2018/operate/">经营分析</a>
				</span>
			</li>
			<li stat="buttor_shareholder" class="stat">
				<span class="aside_nav_7">
					<a href="/HK2018/business/">业绩回顾</a>
				</span>
			</li>
		</ul>
	</div>
</div>
<!-- 行情图以下部分数据 -->
<div style="clear:both"></div>
<div class="m_cont_4">
	<div id="tbts" class="main_cont_1">
		<div id="basic" class="sub_cont_4">
			<div class="m_title_4">
				<h2 class="fl">基本资料</h2>
				<ul class="mt_list fr">
					<li class="stat"><a href="/HK2018/company/">更多 &gt;</a></li>
				</ul>
			</div>
			<table class="table-info">
				<colgroup><col width="34%"><col width="33%"><col width="33%"></colgroup>
				<tbody>
				<tr class="table-info-top">
                    <td class="table-info-left">公司名称：瑞声科技控股有限公司</td>
                    <td>上市日期：2005-08-09</td>
                    <td class="table-info-right">主要股东：Sapphire Hill Holdings  Limited</td>
				</tr>
				<tr>
					<td class="table-info-left">每手股数：500.0000</td>
					<td>公司网址：www.aactechnologies.com</td>
					<td class="table-info-right">员工人数：37273</td>
				</tr>
				<tr class="table-info-bot">
					<td class="table-info-left">董事长：--</td>
					<td>行业分类：工业 - 工业工程 - 电子零件</td>
					<td class="table-info-right">货币代码：HKD</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div id="news" class="sub_cont_5">
			<div class="m_title_4">
				<h2 class="fl">公司新闻</h2>
				<ul class="mt_list fr">
					<li class="stat">
						<a href="/HK2018/news/#mine">更多&gt;</a>
					</li>
				</ul>
			</div>
			<ul class="news_list stat" id="news_ajax_content">
			</ul>
		</div>
		<div class="sub_cont_6">
			<div class="m_title_4">
				<h2 class="fl">公司公告</h2>
				<ul class="mt_list fr">
					<li class="stat">
						<a href="/HK2018/news/#pub">更多&gt;</a>
					</li>
				</ul>
			</div>
			<ul class="news_list stat" id="index_pub">
			<script id="index_pub_tpl" type="text/html">
			{{if pub}}
			{{each pub as value i}}
			<li>
				<span class="news_title">
					<a target="_blank" href="{{value.url}}">{{value.title}}</a>
				</span>
				<span class="news_date">
					<em>{{value.date}}</em>
				</span>
			</li>
			{{/each}}
			{{else}}
			暂无数据
			{{/if}}
			</script>
			</ul>
		</div>
		<div style="clear:both"></div>
		<div id="warrant" class="sub_cont_4">
			<div class="m_title_4">
				<h2 class="fl">相关涡轮/牛熊证</h2>
				<ul class="mt_list fr">
					<li class="stat"><a href="/HK2018/warrant/">更多 &gt;</a></li>
				</ul>
								<div class="title_btn_wrapper fr">
										<a class="m_title_btn" tag="1" href="javascript:void(0);">认购</a>
										<a class="m_title_btn" tag="2" href="javascript:void(0);">认沽</a>
										<a class="m_title_btn" tag="3" href="javascript:void(0);">牛证</a>
										<a class="m_title_btn" tag="4" href="javascript:void(0);">熊证</a>
									</div>
							</div>
			<div class="table_cont">
															<table tag="1" class="m_table_1">
					<thead>
					<tr>
						<th class="cont_name tac">代码</th>
						<th>名称</th>
						<th>行使价</th>
						<th>货币代码</th>
						<th>换股比例(%)</th>
						<th>结算方式</th>
						<th>到期日</th>
						<th>最后交易日</th>
					</tr>
					</thead>
					<tbody>
										<tr>
						<td class="cont_name tac">13937</td>
						<td class="tal">瑞声法兴五乙购B</td>
						<td>52.88</td>
						<td>HKD</td>
						<td>50.00</td>
						<td>现金结算</td>
						<td>2025-12-31</td>
						<td class="tac">2025-12-23</td>
					</tr>
										<tr>
						<td class="cont_name tac">26314</td>
						<td class="tal">瑞声花旗五乙购A</td>
						<td>31.20</td>
						<td>HKD</td>
						<td>50.00</td>
						<td>现金结算</td>
						<td>2025-12-30</td>
						<td class="tac">2025-12-22</td>
					</tr>
										<tr>
						<td class="cont_name tac">13898</td>
						<td class="tal">瑞声瑞银五乙购B</td>
						<td>52.38</td>
						<td>HKD</td>
						<td>50.00</td>
						<td>现金结算</td>
						<td>2025-12-22</td>
						<td class="tac">2025-12-16</td>
					</tr>
										<tr>
						<td class="cont_name tac">26546</td>
						<td class="tal">瑞声瑞银五乙购A</td>
						<td>31.25</td>
						<td>HKD</td>
						<td>50.00</td>
						<td>现金结算</td>
						<td>2025-12-19</td>
						<td class="tac">2025-12-15</td>
					</tr>
										<tr>
						<td class="cont_name tac">26602</td>
						<td class="tal">瑞声摩通五乙购A</td>
						<td>31.25</td>
						<td>HKD</td>
						<td>50.00</td>
						<td>现金结算</td>
						<td>2025-12-19</td>
						<td class="tac">2025-12-15</td>
					</tr>
										</tbody>
				</table>
																<table tag="2" class="m_table_1" style="display:none;">
					<thead>
					<tr>
						<th class="cont_name tac">代码</th>
						<th>名称</th>
						<th>行使价</th>
						<th>货币代码</th>
						<th>换股比例(%)</th>
						<th>结算方式</th>
						<th>到期日</th>
						<th>最后交易日</th>
					</tr>
					</thead>
					<tbody>
										<tr>
						<td class="cont_name tac">29486</td>
						<td class="tal">瑞声麦银五八沽A</td>
						<td>28.88</td>
						<td>HKD</td>
						<td>10.00</td>
						<td>现金结算</td>
						<td>2025-08-04</td>
						<td class="tac">2025-07-29</td>
					</tr>
										<tr>
						<td class="cont_name tac">29166</td>
						<td class="tal">瑞声华泰五五沽A</td>
						<td>26.00</td>
						<td>HKD</td>
						<td>10.00</td>
						<td>现金结算</td>
						<td>2025-05-30</td>
						<td class="tac">2025-05-26</td>
					</tr>
										<tr>
						<td class="cont_name tac">25843</td>
						<td class="tal">瑞声麦银五三沽A</td>
						<td>25.00</td>
						<td>HKD</td>
						<td>10.00</td>
						<td>现金结算</td>
						<td>2025-03-04</td>
						<td class="tac">2025-02-26</td>
					</tr>
										<tr>
						<td class="cont_name tac">27107</td>
						<td class="tal">瑞声信证五二沽A</td>
						<td>27.50</td>
						<td>HKD</td>
						<td>10.00</td>
						<td>现金结算</td>
						<td>2025-02-27</td>
						<td class="tac">2025-02-21</td>
					</tr>
										<tr>
						<td class="cont_name tac">26232</td>
						<td class="tal">瑞声瑞银五二沽A</td>
						<td>24.95</td>
						<td>HKD</td>
						<td>10.00</td>
						<td>现金结算</td>
						<td>2025-02-25</td>
						<td class="tac">2025-02-19</td>
					</tr>
										</tbody>
				</table>
																<table tag="3" class="m_table_1" style="display:none;">
					<thead>
					<tr>
						<th class="cont_name tac">代码</th>
						<th>名称</th>
						<th>收回价</th>
						<th>行使价</th>
						<th>换股比例(%)</th>
						<th>到期日</th>
						<th>强制收回日</th>
						<th>最后交易日</th>
					</tr>
					</thead>
					<tbody>
										<tr>
						<td class="cont_name tac">02018</td>
						<td class="tal">瑞声科技</td>
						<td>33.00</td>
						<td>30.50</td>
						<td>100.00</td>
						<td>2021-12-31</td>
						<td>2021-10-08</td>
						<td class="tac">2021-10-08</td>
					</tr>
										<tr>
						<td class="cont_name tac">02018</td>
						<td class="tal">瑞声科技</td>
						<td>32.00</td>
						<td>29.00</td>
						<td>100.00</td>
						<td>2021-12-30</td>
						<td>2021-10-08</td>
						<td class="tac">2021-10-08</td>
					</tr>
										<tr>
						<td class="cont_name tac">02018</td>
						<td class="tal">瑞声科技</td>
						<td>32.10</td>
						<td>29.60</td>
						<td>100.00</td>
						<td>2021-11-26</td>
						<td>2021-10-08</td>
						<td class="tac">2021-10-08</td>
					</tr>
										<tr>
						<td class="cont_name tac">02018</td>
						<td class="tal">瑞声科技</td>
						<td>35.00</td>
						<td>32.00</td>
						<td>100.00</td>
						<td>2021-10-28</td>
						<td>2021-10-05</td>
						<td class="tac">2021-10-05</td>
					</tr>
										<tr>
						<td class="cont_name tac">02018</td>
						<td class="tal">瑞声科技</td>
						<td>36.00</td>
						<td>33.50</td>
						<td>100.00</td>
						<td>2021-12-30</td>
						<td>2021-10-05</td>
						<td class="tac">2021-10-05</td>
					</tr>
										</tbody>
				</table>
																<table tag="4" class="m_table_1" style="display:none;">
					<thead>
					<tr>
						<th class="cont_name tac">代码</th>
						<th>名称</th>
						<th>收回价</th>
						<th>行使价</th>
						<th>换股比例(%)</th>
						<th>到期日</th>
						<th>强制收回日</th>
						<th>最后交易日</th>
					</tr>
					</thead>
					<tbody>
										<tr>
						<td class="cont_name tac">02018</td>
						<td class="tal">瑞声科技</td>
						<td>60.00</td>
						<td>62.50</td>
						<td>100.00</td>
						<td>2021-09-30</td>
						<td>2021-06-23</td>
						<td class="tac">2021-06-23</td>
					</tr>
										<tr>
						<td class="cont_name tac">02018</td>
						<td class="tal">瑞声科技</td>
						<td>60.00</td>
						<td>62.50</td>
						<td>100.00</td>
						<td>2021-12-31</td>
						<td>2021-06-23</td>
						<td class="tac">2021-06-23</td>
					</tr>
										<tr>
						<td class="cont_name tac">02018</td>
						<td class="tal">瑞声科技</td>
						<td>55.88</td>
						<td>57.88</td>
						<td>100.00</td>
						<td>2021-12-30</td>
						<td>2021-06-09</td>
						<td class="tac">2021-06-09</td>
					</tr>
										<tr>
						<td class="cont_name tac">02018</td>
						<td class="tal">瑞声科技</td>
						<td>55.00</td>
						<td>58.00</td>
						<td>100.00</td>
						<td>2021-07-30</td>
						<td>2021-06-07</td>
						<td class="tac">2021-06-07</td>
					</tr>
										<tr>
						<td class="cont_name tac">02018</td>
						<td class="tal">瑞声科技</td>
						<td>55.00</td>
						<td>58.00</td>
						<td>100.00</td>
						<td>2021-10-29</td>
						<td>2021-06-07</td>
						<td class="tac">2021-06-07</td>
					</tr>
										</tbody>
				</table>
														</div>
		</div>
		<div id="rating" class="sub_cont_4">
			<div class="m_title_4">
				<h2 class="fl">机构评级</h2>
				<ul class="mt_list fr">
					<li class="stat"><a href="/HK2018/rating/">更多 &gt;</a></li>
				</ul>
			</div>
			<div class="table_cont">
								<table class="m_table_1">
					<thead>
					<tr>
						<th class="cont_name tac">序号</th>
						<th>机构名称</th>
						<th>最新评级</th>
						<th>同投行上次评级</th>
						<th>目标价</th>
						<th>目标价变化</th>
						<th>公布时间</th>
					</tr>
					</thead>
					<tbody>
										<tr>
						<td class="cont_name tac">1</td>
						<td class="tal">中信证券</td>
						<td class="tac">买入</td>
						<td class="tac">增持</td>
						<td>45.00</td>
						<td class="tac">上升</td>
						<td class="tac">2025-06-10</td>
					</tr>
										<tr>
						<td class="cont_name tac">2</td>
						<td class="tal">招银证券</td>
						<td class="tac">增持</td>
						<td class="tac">增持</td>
						<td>58.78</td>
						<td class="tac">不变</td>
						<td class="tac">2025-06-03</td>
					</tr>
										<tr>
						<td class="cont_name tac">3</td>
						<td class="tal">西南证券</td>
						<td class="tac">买入</td>
						<td class="tac">买入</td>
						<td>--</td>
						<td class="tac">--</td>
						<td class="tac">2025-04-28</td>
					</tr>
										<tr>
						<td class="cont_name tac">4</td>
						<td class="tal">第一上海证券</td>
						<td class="tac">增持</td>
						<td class="tac">增持</td>
						<td>61.73</td>
						<td class="tac">不变</td>
						<td class="tac">2025-03-27</td>
					</tr>
										<tr>
						<td class="cont_name tac">5</td>
						<td class="tal">华泰金融(HK)</td>
						<td class="tac">买入</td>
						<td class="tac">买入</td>
						<td>62.20</td>
						<td class="tac">上升</td>
						<td class="tac">2025-03-26</td>
					</tr>
										</tbody>
				</table>
							</div>
		</div>
		<div id="finance" class="sub_cont_4">
			<div class="m_title_4">
			    <h2 class="fl">财务分析</h2>
			    <ul class="mt_list fr">
			        <li stat="contrast_more" class="stat"><a href="/HK2018/finance/">更多 &gt;</a></li>
			    </ul>
			</div>
			<div class="market_performance fl">
							    <div class="market_flash">
			        <div class="chart_box_hydb">
			            <div class="hydb_legend_box anasys_box">
			            	<span id="jlr_flash_data" style="display:none;">[[[0,"6.29"],[1,"0.47"],[2,"5.71"],[3,"5.16"],[4,"17.64"]],[[0,"2022\u5e74\u62a5"],[1,"2023\u4e2d\u62a5"],[2,"2023\u5e74\u62a5"],[3,"2024\u4e2d\u62a5"],[4,"2024\u5e74\u62a5"]],"\u4ebf\u5143"]</span>
			                <span class="anasys_title">净利润</span>
			                <span class="fr pr20">单位：亿元</span>
			            </div>
			            <div id="jlr_flash" style="width:350px;height:195px;"></div>
			        </div>
			    </div>
			    			</div>
			<div class="earnings_share fl">
							    <div class="level_flash">
			        <div class="title_box anasys_box">
			        	<span id="yysr_flash_data" style="display:none;">[[[0,"206.25"],[1,"92.19"],[2,"204.19"],[3,"112.47"],[4,"273.28"]],[[0,"2022\u5e74\u62a5"],[1,"2023\u4e2d\u62a5"],[2,"2023\u5e74\u62a5"],[3,"2024\u4e2d\u62a5"],[4,"2024\u5e74\u62a5"]],"\u4ebf\u5143"]</span>
			            <span class="anasys_title">营业收入</span>
			            <span class="fr pr20">单位：亿元</span>
			        </div>
			        <div id="yysr_flash" style="width:350px; height:195px;"></div>
			    </div>
			    			</div>
		</div>
	</div>
</div>
<div class="m_cont_3">
	<!--增加广告 2014-07-23 Stella-->
	<div id="hk_ad06" class="ad06" style="height:unset">
	   <advert-common :adkey="adkey" :userid="userid" :app-info="appInfo" :is-prod="isProd"></advert-common>
	</div>
	<!--增加广告 End-->
	<div class="ranking_list sub_cont_3 cb">
		<h2 class="m_title_4">市场表现排行
			<a class="freshBtnSmall" id="market_fresh" href="javascript:void(0);"></a>
		</h2>
		<div stat="ph_scbx" class="market_select rank_select stat">
			<select class="text text_select text_market">
				<option value="涨幅_199112_desc">涨幅排行</option>
				<option value="跌幅_199112_asc">跌幅排行</option>
				<option value="成交量_13_desc">成交量排行</option>
				<option value="换手_1968584_desc">换手排行</option>
				<option value="量比_1771976_desc">量比排行</option>
				<option value="市盈率_2034120_desc">市盈率排行</option>
			</select>
		</div>
		<script id="index_market_tpl" type="text/html">
			{{if reallist}}
			<table id="market_{{field}}_{{order}}" class="m_table_0">
				<thead>
				<tr>
					<th>股票名称</th>
					<th>最新价</th>
					<th class="profit_cont">{{name}}</th>
				</tr>
				</thead>
				<tbody>
				{{each reallist as value i}}
				<tr{{if i%2 != 0}} class="even"{{/if}}>
					<td stat="ph_scbx_list" class="stat">
						<a href="/{{value.dm}}/">{{value.mc}}</a>
					</td>
					<td {{if value.dir == 'up'}}class="plus"{{else if value.dir == 'down'}}class="minus"{{/if}}>{{value.zxj}}</td>
					<td {{if value.dir == 'up'}}class="plus"{{else if value.dir == 'down'}}class="minus"{{/if}}>{{value.zb}}</td>
				</tr>
				{{/each}}
				</tbody>
			</table>
			{{else}}
			暂无数据
			{{/if}}
		</script>
		<div id="market_table"></div>
	</div>
	<div class="sub_cont_3">
		<h2 class="m_title_4">主要指标</h2>
		<dl class="company_details">
			<dt>总股本：</dt>
			<dd>11.98亿股</dd>
			<dt>普通股股数：</dt>
			<dd>11.98亿股</dd>
			<dt>每股收益：</dt>
			<dd>1.53元</dd>
			<dt>净利润：</dt>
			<dd>17.64亿元</dd>
			<dt>营业收入：</dt>
			<dd>273.28亿元</dd>
			<dt>每股现金流：</dt>
			<dd>4.34元</dd>
			<dt>每股净资产：</dt>
			<dd>18.99元</dd>
			<dt>净资产收益率：</dt>
			<dd>8.05%</dd>
		</dl>
	</div>
	<!--增加广告 2014-07-23 Stella-->
	<div class="ad08" style="height:600px;width:180px;"><script type="text/javascript">BAIDU_CLB_fillSlot("950924");</script></div>
	<!--增加广告 End-->
</div>
</div>
<div id="dialgo_box" class="dialgo_box hidden">
	<h2 class="dialgo_pos">
		<span class="dialgo_closed"></span>
		您尚未登录，请登录后再添加自选股！
	</h2>
	<form id="loginForm" method="post" action="https://upass.10jqka.com.cn/login">
		<input type="hidden" value="login_submit" name="act">
		<input id="redir" type="hidden" value="" name="redir"> 
		<div class="dialgo_main">
			<table width="290" cellspacing="0" cellpadding="0" border="0">
				<tbody>
					<tr>
						<td width="50" height="30">
							<span class="FC5">用户名：</span>
						</td>
						<td width="176">
							<input type="text" tabindex="1" style="width:169px; height:20px;" name="uname">
						</td>
						<td>
							<a class="FC5" target="_blank" href="http://www.10jqka.com.cn/modules.php?name=Register">快速注册</a>
						</td>
					</tr>
					<tr>
						<td height="30">
							<span class="FC5">密  码：</span>
						</td>
						<td>
							<input type="password" tabindex="2" name="passwd" style="width:169px; height:20px;">
						</td>
						<td>
							<a class="FC11" target="_blank" href="http://i.10jqka.com.cn/lostpass/index">忘记密码?</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<input class="dialgo_login" type="submit" tabindex="3" value="">
	</form>
</div><div style="   
    clear: both;
    overflow: hidden;
    padding-top: 10px;
    text-align: left;
    font-size: 12px;
    line-height: 24px;
    width: 960px;
    margin: 10px auto;
    font-family: tahoma,arial;">
<P class="c333">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;免责声明：香港交易所资讯服务有限公司、其控股公司及／或该等控股公司的任何附属公司均竭力确保所提供信息的准确和可靠度，但不能保证其绝对准确和可靠，且亦不会承担因任何不准确或遗漏而引起的任何损失或损害的责任（不管是否侵权法下的责任或合约责任又或其它责任）。
</p>

<div>
<div id="footer">

	<p>
		<a href="http://news.10jqka.com.cn/tzz/" rel="nofollow">投资者关系</a><span class="ff">|</span>
		<a href="http://news.10jqka.com.cn/c/20100105/61833421.shtml" rel="nofollow">关于同花顺</a><span>|</span>
		<a href="http://download.10jqka.com.cn/">软件下载</a><span>|</span>
		<a href="http://www.10jqka.com.cn/ia/pass_buck.php" rel="nofollow">法律声明</a><span>|</span>
		<a href="http://www.10jqka.com.cn/hexin_license.htm" rel="nofollow">运营许可</a><span>|</span>
		<a href="http://www.10jqka.com.cn/modules.php?name=what&amp;page=cooperate" rel="nofollow">内容合作</a><span>|</span>
		<a href="http://www.10jqka.com.cn/hexin_contact.htm" rel="nofollow">联系我们</a><span>|</span>
		<a href="http://news.10jqka.com.cn/list/link.shtml" rel="nofollow">友情链接</a><span>|</span>
		<a href="http://news.10jqka.com.cn/msg/" rel="nofollow">网友意见箱</a><span>|</span>
		<a href="http://job.10jqka.com.cn/" rel="nofollow">招聘英才</a>
	</p>
	<p class="c333">Copyright&#169;Hithink RoyalFlush Information Network Co.,Ltd.</p>
	<p class="c333"> 浙江核新同花顺网络信息股份有限公司版权所有</p>
</div>
<div class="feedback" style="display:none;">
	<p>有意见和建议的话，可以点击这里告诉我们喔～!</p>
	<a href="javascript:void(0)">我知道了</a>
</div>
<div class="leader_wraper" style='display:none;'>
			<div class="step step_0">
				<a class="close" href="javascript:void(0)">关闭</a>
				<a class="the_next" href="javascript:void(0)">查看新功能</a>
			</div>
			<div class="step step_2 hidden">
				<a class="close" href="javascript:void(0)">关闭</a>
				<a class="the_next" href="javascript:void(0)">继续</a>
			</div>
			<div class="step step_3 hidden">
				<a class="close" href="javascript:void(0)">关闭</a>
				<a class="the_next" href="javascript:void(0)">继续</a>
			</div>	
			<div class="step step_4 hidden">
				<a class="close" href="javascript:void(0)">关闭</a>
				<a class="the_next" href="javascript:void(0)">继续</a>
			</div>					
			<div class="step step_5 hidden">
				<a class="close" href="javascript:void(0)">关闭</a>
				<a class="to_go" href="javascript:void(0)">立即体验</a>
			</div>
</div>	
<!-- 2012-12-27 add -->
<!-- <div id="J_fixedbar" class="fixedbar">
	<ul class="clearfix">
		<li><a class="fixedbar_btn fixedbar_totop" href="#">顶部</a></li>
		<li><a class="fixedbar_btn fixedbar_feedback" target="_blank" href="http://vote.10jqka.com.cn/webvote/index.php?vid=7cce6a7e0f92e8adfefdacaaf269c415">反馈</a></li>
	</ul>
</div> --><!-- 全局变量 -->
<script>

var global_data = {};
var STOCK_SKIN = 'white';

global_data.code = '02018';
global_data.thscode = 'HK2018';
global_data.codename = '瑞声科技';
global_data.cate = 'index';
global_data.catename = '首页概览';
global_data.hycode = 'HS101025';
global_data.hyname = '工业 ';
</script>
<div style="display:none" id="pageStockCode">HK2018</div>
<input type="hidden" id="stockCode" value="02018"/>
<div style="display:none" id="pageStockName">瑞声科技</div>
<div style="display:none" id="pageStockMarketName">恒生指数</div>
<div style="display:none" id="pageStockMarketCode">HSZS</div>
<div style="display:none" id="pageStockMarketId">hk</div>
<div style="display:none" id="pageFieldCode">1155</div>
<div style="display:none" id="basicrating"></div>
<div style="display:none" id="indexdataflash"></div>
<div style="display:none" id="indexBasicData"></div>
<div style="display:none" id="stockbbsinfo"></div>
<!-- 公用脚本 -->
<script type="text/javascript" src="http://s.thsi.cn/combo?js/&excanvas.min.js&jquery-1.7.2.min.js&ta.min.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/cb?js/cmsad/cmsadv1.js" charset="utf-8"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/home/ths_core.min.js" charset="utf-8"></script>
<script type="text/javascript" src="http://s.thsi.cn/website/stockpage/js/hq/weblogin_v2.js" charset="utf-8"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/ucenter/headlogin.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/webHQ/basic/datapool/1.3.0/hxc3.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/article/v7/sub/headGuide.js" charset="gbk"></script>
<script>var HeadGuide = new headGuide(); HeadGuide.show()</script>
<!--[if IE 6]>
<script type="text/javascript" src="http://s.thsi.cn/js/stockpage/new/opacity.ie6.min.js" ></script>
<script type="text/javascript">DD_belatedPNG.fix('.feedback');</script>
<![endif]-->
<script type="text/javascript" src="http://s.thsi.cn/combo?js/navigation/&jquery.bgiframe.min.js&jquery.ui.position.min.js&autocomplete-2.0.1.min.js" charset="utf-8"></script>
<script type="text/javascript" src="http://s.thsi.cn/combo?js/stockpage/&new/pagehead_v3.min.js"></script>

<script type="text/javascript" src="http://s.thsi.cn/combo?js/stockpage/new/&public.20130314.min.js&hk/v3/header-20200411.js&hk/menu.min.20140701.js!20180801"></script>
<!-- 栏目专属脚本  -->
<script type="text/javascript" src="http://s.thsi.cn/js/basic/stock/jquery.flot.min.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/basic/stock/jquery.flot.tooltip.min.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/stockpage/new/hk/template.min.20140701.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/stockpage/new/hk/dynamicload.min.20140701.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/js/stockpage/new/hk/drawEPSChart.min.20140701.js"></script>
<script type="text/javascript" crossorigin charset="utf-8" src="http://s.thsi.cn/js/stockpage/new/hk/v4/index.js"></script>
<!-- 首页行情 -->
<script type="text/javascript" src="http://s.thsi.cn/combo?js/swfobject.js&js/seajs/&sea.1.2.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/combo?js/flshhtml5/&s/Html5Util.min.js&c/config.min.js&c/GeGu_lsjxlx/caller.min.js&c/GeGu_sscjfb/caller.min.js&c/YjycHydb.js&c/GeGu_AreaLine/drawchart.min.js&c/GeGu_BarColors/drawchart.min.js&c/PieChart/caller.min.js"></script>
<script type="text/javascript" src="http://s.thsi.cn/combo?js/stockpage/&new/KeyWizardBranch.min.js&new/KeyWizard4AS.min.js"></script>
<!-- 统计ID -->
<script type="text/javascript">
	document.domain="10jqka.com.cn";
	var ta_sid = "sp_hk_index";
	var ta_fid = "29,info_gather,stockpage_hk";
	
	TA.log({'id':ta_sid,'fid':ta_fid,_top:false});
	
</script>
<!--右下角悬浮广告 2014-07-23 Stella-->
<!-- <div class="ad10">
    <div class="ad10-big J_adBig" style="display:none;z-index:11;">
    <div class="ad10-ad"><script type="text/javascript">BAIDU_CLB_fillSlot("950932");</script></div>
    <a href="##" class="ad10-close J_adClose"></a>
   </div>
   <div class="ad10-small" style="display:block;"><script type="text/javascript">BAIDU_CLB_fillSlot("953199");</script></div>
   <a class="ad10-small J_adSmall" style="display:block;" href="javascript:void(0);"></a>
</div> -->
<!--右下角悬浮广告 End-->
<!-- 挂旗广告 2014-07-29 start -->
<div id="imgWrap"></div>
<script>

	_cmsad({
		appendId:'imgWrap',
		adb_id:'169'
	});

</script>
<!--
<div class="ad_right none imgWrap" id="imgWrap"><a href="javascript:void(0)" onclick="javascript:hideTopAds()" target="_self" style="font-size:12px;">关闭</a><br/><a href="#" target="_blank" class="imgA"><img src="" class="imgBig"/><img src="" class="none imgSmall"/></a></div>
<div class="ad_left none imgWrap"><a href="javascript:void(0)" onclick="javascript:hideTopAds()" target="_self" style="font-size:12px;">关闭</a><br/><a href="#" target="_blank" class="imgA"><img src="" class="imgBig"/><img src="" class="none imgSmall"/></a></div>
<script src="http://ad.thsi.cn/siteHome/163.txt" type="text/javascript"></script>
<script src="http://s.thsi.cn/js/stockpage/sideAd3.20140901.js" type="text/javascript"></script>
-->
<!-- 挂旗广告 2014-07-29 end -->
<!-- 百度统计 start -->
<script type="text/javascript" src="http://s.thsi.cn/js/ads/baidu_stockpage.js"></script>
<!-- 百度统计 end --></body>
<script>
 
 window.onload = function () {
     try {
            if(Vue && window['mobileweb_AdvertCommon@1.0.3'].default){
				  Vue.use(window['mobileweb_AdvertCommon@1.0.3'].default);
			      console.log('注册成功');
			  }
		}catch(error){
			  console.error(error);
		  }
          new Vue ({
			  el:'#hk_ad01',
			  data:{
				  adkey:'pcwzggggwa',
				  appInfo:{
					  appid:'21',
					  platform:'pc_web',
					  versionid:'3708555'
				  },
				  userid:'nouser',
				  isProd: true,
			  }
		  });
           new Vue ({
			  el:'#hk_ad02',
			  data:{
				  adkey1:'pcwzggggwb',
                  adkey2:'pcwzggggwc',
                  adkey3:'pcwzggggwd',
				  appInfo:{
					  appid:'21',
					  platform:'pc_web',
					  versionid:'3708555'
				  },
				  userid:'nouser',
				  isProd: true,
			  }
		  });
           new Vue ({
			  el:'#hk_ad04',
			  data:{
                  adkey1:'pcwzggggwe',
                  adkey2:'pcwzggggwf',
				  appInfo:{
					  appid:'21',
					  platform:'pc_web',
					  versionid:'3708555'
				  },
				  userid:'nouser',
				  isProd: true,
                  adType:'text'
			  }
		  });
          new Vue ({
			  el:'#hk_ad05',
			  data:{
                  adkey:'pcwzggggwg',
				  appInfo:{
					  appid:'21',
					  platform:'pc_web',
					  versionid:'3708555'
				  },
				  userid:'nouser',
				  isProd: true,
			  }
		  });
           new Vue ({
			  el:'#hk_ad06',
			  data:{
                  adkey:'pcwzggggwh',
				  appInfo:{
					  appid:'21',
					  platform:'pc_web',
					  versionid:'3708555'
				  },
				  userid:'nouser',
				  isProd: true,
			  }
		  });
 }
 
</script>
</html>